---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - mailcow.onestein.nl
  resources:
  - aliases
  - domainadmins
  - domains
  - mailboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mailcow.onestein.nl
  resources:
  - aliases/finalizers
  - domainadmins/finalizers
  - domains/finalizers
  - mailboxes/finalizers
  verbs:
  - update
- apiGroups:
  - mailcow.onestein.nl
  resources:
  - aliases/status
  - domainadmins/status
  - domains/status
  - mailboxes/status
  verbs:
  - get
  - patch
  - update
