apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: aliases.mailcow.onestein.nl
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  labels:
  {{- include "chart.labels" . | nindent 4 }}
spec:
  group: mailcow.onestein.nl
  names:
    kind: Alias
    listKind: AliasList
    plural: aliases
    singular: alias
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Alias is the Schema for the aliases API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AliasSpec defines the desired state of Alias.
            properties:
              active:
                default: true
                type: boolean
              address:
                type: string
                x-kubernetes-validations:
                - message: Address is immutable
                  rule: self == oldSelf
              goTo:
                type: string
              mailcow:
                type: string
            required:
            - active
            - address
            - goTo
            - mailcow
            type: object
          status:
            description: AliasStatus defines the observed state of Alias.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
