apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: mailboxes.mailcow.onestein.nl
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  labels:
  {{- include "chart.labels" . | nindent 4 }}
spec:
  group: mailcow.onestein.nl
  names:
    kind: Mailbox
    listKind: MailboxList
    plural: mailboxes
    singular: mailbox
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Mailbox is the Schema for the mailboxes API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MailboxSpec defines the desired state of Mailbox.
            properties:
              active:
                default: true
                type: boolean
              domain:
                type: string
                x-kubernetes-validations:
                - message: Domain is immutable
                  rule: self == oldSelf
              forcePasswordChange:
                default: false
                type: boolean
              localPart:
                type: string
                x-kubernetes-validations:
                - message: LocalPart is immutable
                  rule: self == oldSelf
              mailcow:
                type: string
              name:
                type: string
              passwordSecret:
                description: SecretKeySelector selects a key of a Secret.
                properties:
                  key:
                    description: The key of the secret to select from.  Must be a valid
                      secret key.
                    type: string
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  optional:
                    description: Specify whether the Secret or its key must be defined
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              quota:
                format: int64
                type: integer
            required:
            - domain
            - localPart
            - mailcow
            - name
            - passwordSecret
            type: object
          status:
            description: MailboxStatus defines the observed state of Mailbox.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
